{% extends "base.html" %}

{% block body %}
<div class="marquee-container">
    <div class="marquee">
        <h2 class="my-4">
            <span style="font-size: 1.1em;">공식</span>
            <img src="https://image.donga.com/DAMG/ci/dongailbo.jpg" alt="Dongailbo Logo" style="height: 70px; vertical-align: middle;">
            <span style="font-size: 1.1em;">문제은행</span>
        </h2>
    </div>
</div>

{% if questions %}
  <ul class="list-group">
    {% for question in questions %}
      <li class="list-group-item">
        <a href="{% url 'golla_app:detail' question.id %}">
          {{ question.title }}
        </a>
        <br>
        <!-- <small class="text-muted">보기 A: {{ question.choice_a }} / 보기 B: {{ question.choice_b }}</small> -->
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>등록된 질문이 없습니다.</p>
{% endif %}

<style>
    body {
        background-color: #000000; /* 페이지 배경색을 검정색으로 변경 */
        color: #FFFFFF; /* 기본 글자 색상을 흰색으로 설정 */
    }
    .marquee-container {
        overflow: hidden;
        white-space: nowrap;
        box-sizing: border-box;
        width: 100%;
        background-color: #FFFF00; /* 배경색을 야광 노란색으로 변경 */
        color: #000000; /* 기본 글자 색상을 흰색으로 설정 */
        padding: 50px 0; /* 상하 여백 추가 */
        margin-bottom: 20px; /* 아래쪽 여백 추가 */
    }

    .marquee {
        display: inline-block;
        animation: marquee 7.5s linear infinite; /* 속도 20배 빠르게 조정 */
    }

    .marquee h2 {
        display: inline;
        padding: 0; /* 여백 제거 */
        margin: 0; /* 여백 제거 */
        letter-spacing: 0; /* 글자 간격 제거 */
    }

    @keyframes marquee {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(-100%);
        }
    }
</style>
{% endblock %}